@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:ital,wght@0,611;1,611&display=swap');
:root{

--primary-color: #033b4a;
--secondary-color: #20c997;
--gray:#4a4a4d;
--bg-primary: #ecf0f3;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{

    font-family: "Poppins", sans-serif;

}
h1,h2{

    font-family: "Saira", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*Utility classes*/
.text-primary{
    color: var(--secondary-color);
}
.btn-primary{
    background-color: var(--secondary-color);
    color: white;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.6s ease;
}
.btn-primary:hover{
    background-color: #15a076;

}

.container{

max-width: 1100px;
margin: auto;
padding: 0 2rem;

}
/*Header start*/

header{

    background-color: var(--bg-primary);
    height: 100vh;
}
header .navbar{

    background-color: white;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
   
}
header .navbar nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto; 
    padding: 1.5rem 2rem; 
}
#home #logo{

color: var(--primary-color);
font-size: 24px;
font-weight: 600;

}
header .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .navbar nav ul a{
    margin: 0px 15px;
    color: var(--primary-color);
    font-weight: 600;
}
header .navbar nav ul a:hover{
border-bottom: 1px solid var(--primary-color);
width: 100%;
height: 2px;
background: rgba(236, 240,243, 0.2);
border-radius: 7px;
box-shadow: 1px 1px 1px #20c997;
transition: all 0.1s ;
}

header .header-contant{
display: grid;
grid-template-columns: 1.5fr 1fr;
max-width: 1100px;

margin: auto;
height: 100%;
align-items: center;
padding: 5rem 2rem 0;
}

header .header-contant .contant-text{

    margin-bottom: 5rem;
}

#home .header-contant p span{

    font-weight: 700;
    font-size: 20px;
}
header .header-contant h1{

    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
header .header-contant .title{

    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0px;
    font-weight: 500;
}
header .header-contant .social{
    margin: 1rem 0 2rem;
}
header .header-contant .social a i{
    font-size: 18px;
    padding: 10px;
    background-color: var(--gray);
    color:white;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s;
}
header .header-contant .social a i:hover{
transform: scale(0.85);
}
header .header-contant img{
    border-radius: 10%;
    max-width: 400px;
}
/*Header end*/

/*about start*/

#about , #skills {
    padding: 6rem 0;
}
#about h2 , #skills h2 {

    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}
#about hr , #skills hr {

    width: 100px;
    height: 3px;
   background-color: var(--secondary-color);
   border: none;
   margin: 5px auto;
   
}

#about .about-contant{

margin-top: 4rem;
display: grid;
grid-template-columns: 2fr 1fr;
column-gap: 3rem;

}
#about .about-contant h3{


    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 20px;

}
#about .about-contant .col1 p{

    color: var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;

}
#about .about-contant .col2 p{

    color: var(--gray);
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;

}



/*about end*/



/*Skills Start*/
#skills{
    background-color: var(--primary-color);
}
#skills h2{
    color: white;
}


#skills .row img{
    max-width: 60px;
    font-family: "Poppins", sans-serif;
}
#skills .skills-contant{
margin-top:2rem ;
background-color: #0f272d;

}
#skills .skills-contant .row {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}
#skills .skills-contant .row .item{
    color: #ffff;
    background-color: #000;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight:600 ;
  transition: all 0.3s ease;
}
#skills .skills-contant .row .item:nth-child(1) img{

max-width: 90px;
}
#skills .skills-contant .row .item:nth-child(8) img{
    max-width: 100px;
}
#skills .skills-contant .row .item:nth-child(7) img{
    max-width: 70px;
}
#skills .skills-contant .row .item:nth-child(7) img{
    max-width: 50px;
}
#skills .skills-contant .row .item:hover{
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    box-shadow: 15px 15px 15px #00f4ab0c;
    transition: all 0.5s;
}
r

/*Skills end*/